:root {
    --footer-padding: 120px;
    --content-max-width: 640px;
}

:is(.admonition):is(.note) {
    margin: 1em 0;
}

table th {
    font-variant: all-small-caps;
    font-size: small;
}

table td {
    font-size: small;
}

h1, h2 {
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-variant: small-caps;
}

h3, h4, h5, h6 {
    font-variant: small-caps;
}

@media (-moz-touch-enabled: 1), (pointer: coarse) {
    .chapter li a {
        padding: inherit;
    }
    .spacer {
        margin: inherit;
    }
}

.mermaid-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    margin: 0;
}

.nav-wrapper {
    clear: both;
}

ul > li {
    margin-top: 0.6em;
}

.kiwi-image-wrapper > img, .kiwi-image-wrapper > svg {
    width: inherit;
    height: inherit;
    display: block;
}

ul > li:first-child {
    margin-top: 0;
}

.content {
    display: block;
    min-height: calc(100vh - 100px);
}

.sidebar-scrollbox {
    padding-left: 22px !important;
}

main {
    position: relative;
    margin-top: 40px;
    margin-left: calc((100% - var(--content-max-width)) * 0.40 - 50px) !important;
    margin-right: calc((100% - var(--content-max-width)) * 0.60 + 50px) !important;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a,
.docs-card-visit > a, .content a:hover, .docs-card-link {
    border-bottom: none !important;
    text-decoration: none;
}

#searchresults a,
.footer-license a, .footer-license a:hover, .footer-license a:visited, .footer-license a:-webkit-any-link,
.content a, .content a:hover, .content a:visited, .content a:-webkit-any-link,
a > .hljs {
    color: inherit;
    border-color: inherit;
    border-bottom: 1px solid;
    text-decoration: none;
}

.footer-layout a, .footer-layout a:hover, .footer-layout a:visited, .footer-layout a:-webkit-any-link,
a > .hljs {
    color: inherit;
    border-color: inherit;
    text-decoration: none;
}

footer {
    display: flex;
    padding: 0 calc(28px + var(--page-padding) + 5px);
    margin: 0 calc(var(--page-padding) * -1 - 5px);
    background-color: rgba(var(--fg-rgb), 0.05);
    color: rgba(var(--fg-rgb), .65);
    justify-content: center;
}

.footer-logo {
    position: relative;
    float: right;
    width: fit-content;
    height: fit-content;
}

.footer-logo > a {
    display: block;
    width: fit-content;
    height: fit-content;
}

.footer-logo > a > img {
    width: 48px;
    height: 48px;
}

.footer-layout {
    width: calc(var(--content-max-width) + 2 * var(--footer-padding));
    padding: 24px 0;
}

.footer-layout > div {
    margin-top: 12px;
}

.footer-social {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 0 !important;
    padding: 0;
}

.footer-social > * {
    margin-right: 32px;
}

.footer-social > a > svg {
    fill: rgba(var(--fg-rgb), .65);
    width: 28px;
    height: 28px;
}

.footer-social > :last-child {
    margin-right: 0;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.footer-links > :last-child {
    margin-right: 0;
    border-right: none;
}

.footer-links > * {
    padding-right: 8px;
    margin-right: 8px;
    border-right: rgba(var(--fg-rgb), .65) solid 1px;
}

.footer-license {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--fg-50);
    font-size: 13px;
}

.colored-fill {
    fill: color-mix(in srgb, var(--fg) 15%, var(--icon-color) 85%);
}

.colored-stroke {
    stroke: color-mix(in srgb, var(--fg) 15%, var(--icon-color) 85%);
}

.wide-page {
    --content-max-width: 750px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.wide-page > .sidetoc {
    display: none;
}

.chapter-mark {
    margin-left: -12px;
}

.chapter-item.expanded > div {
    color: var(--fg);
}

.chapter-list-item {
    cursor: pointer;
    margin: calc(0.6em * 0.5) -10px calc(0.6em * -0.5) -72px;
    padding: calc(0.3em * 0.5) 10px calc(0.3em * 0.5) 72px;
}

.chapter-list-item:hover {
    background-color: rgba(var(--fg-rgb), 0.1);
}

.table-wrapper > table {
    display: block;
}

.docs-content-wrapper > h1 {
    font-size: 4.0rem;
}

.docs-content-wrapper > p {
    font-size: 2.0rem;
    margin: 12px 0;
}

.docs-card-container {
    margin: 32px -16px -16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    font-size: 1.4rem;
    flex-wrap: wrap;
}

.docs-card {
    --card-opacity: 0.8;

    position: relative;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 300px;
    max-width: 333px;
    box-shadow: none;
    margin: 16px 16px;
    border-radius: 0;
    border: 1px solid;
    border-color: rgba(var(--fg-rgb), var(--card-opacity)) !important;
    color: rgba(var(--fg-rgb), 0.65) !important;
    stroke: color-mix(in srgb, var(--fg) 15%, var(--icon-color) 85%);
    fill: color-mix(in srgb, var(--fg) 15%, var(--icon-color) 85%);
}

.docs-card:hover {
    --card-opacity: 1.0;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.05), 0 0 0.1rem rgba(0, 0, 0, 0.1);
}


.docs-card > .admonition-title {
    margin-left: -12px;
    margin-right: -12px;
    font-size: 1.6rem;
    color: rgba(var(--fg-rgb), var(--card-opacity)) !important;
    padding: 8px 12px;
}


.docs-card > .admonition-title::before {
    background-color: var(--sidebar-bg);
    display: none;
    mask-image: none;
}


.docs-card > div {
    position: relative;
    padding-top: 12px;
}

.docs-card-visit:visited, .docs-card-visit:hover, .docs-card-visit:link {
    color: inherit !important;
    text-decoration: inherit !important;
}

.docs-card-visit {
    position: relative;
    left: 0px;
    width: fit-content;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 -8px;
}

.docs-card-visit > * {
    margin: 0 8px;
}

.docs-card-visit > svg {
    padding-top: 8px !important;
}

.docs-card-visit > span {
    color: color-mix(in srgb, var(--fg) 20%, rgba(var(--icon-color-rgb), calc(var(--card-opacity) - .2)) 80%);
    border-bottom: 2px solid color-mix(in srgb, var(--fg) 20%, rgba(var(--icon-color-rgb), calc(var(--card-opacity) - .2)) 80%);
}

.docs-card-visit.icon-mode > span {
    color: rgba(var(--fg-rgb), calc(var(--card-opacity) - .2));
    border-bottom: none;
}

@media (max-width: 600px) {
    .docs-card-visit {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-start;
    }

    .docs-card-visit > span {
        border-bottom: none;
    }
}

.docs-card-link {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    margin-left: -12px;
}

.docs-card > ul {
    margin: 0;
    padding-left: 20px;
}

.docs-card > ul > li {
    color: var(--fg);
    margin-top: 0;
}

.docs-card-link:visited, .docs-card-link:hover, .docs-card-link:link {
    color: inherit !important;
    text-decoration: inherit !important;
}

.admonition-anchor-link::before {
    content: none !important;
}
