.mocha {
    /* NOT BEING USED */
    --icon-color: cdd6f4;
    --icon-color-rgb: 205, 214, 244;
    --bg: #1e1e2e;
    --fg: #cdd6f4;
    --fg-50: #8a8aae;
    --fg-rgb: 205, 214, 244;
    --sidebar-bg: #181825;
    --sidebar-fg: #cdd6f4;
    --sidebar-non-existant: #6c7086;
    --sidebar-active: #f5e0dc;
    --sidebar-spacer: #6c7086;
    --scrollbar: #6c7086;
    --icons: #6c7086;
    --icons-hover: #7f849c;
    --links: #89b4fa;
    --inline-code-color: #fab387;
    --theme-popup-bg: #181825;
    --theme-popup-border: #6c7086;
    --theme-hover: #6c7086;
    --quote-bg: #181825;
    --quote-border: #11111b;
    --table-border-color: #11111b;
    --table-header-bg: #181825;
    --table-alternate-bg: #11111b;
    --searchbar-border-color: #11111b;
    --searchbar-bg: #181825;
    --searchbar-fg: #cdd6f4;
    --searchbar-shadow-color: #11111b;
    --searchresults-header-fg: #cdd6f4;
    --searchresults-border-color: #11111b;
    --searchresults-li-bg: #1e1e2e;
    --search-mark-bg: #fab387;
}

.macchiato {
    --icon-color: #ffffff;
    --icon-color-rgb: 255, 255, 255;
    --bg: #24273a;
    --fg: #cad3f5;
    --fg-50: #9389a2;
    --fg-rgb: 202, 211, 245;
    --sidebar-bg: #1e2030;
    --sidebar-fg: #cad3f5;
    --sidebar-non-existant: #6e738d;
    --sidebar-active: #f4dbd6;
    --sidebar-spacer: #6e738d;
    --scrollbar: #6e738d;
    --icons: #6e738d;
    --icons-hover: #8087a2;
    --links: #8aadf4;
    --inline-code-color: #f5a97f;
    --theme-popup-bg: #1e2030;
    --theme-popup-border: #6e738d;
    --theme-hover: #6e738d;
    --quote-bg: #1e2030;
    --quote-border: #181926;
    --table-border-color: #181926;
    --table-header-bg: #1e2030;
    --table-alternate-bg: #181926;
    --searchbar-border-color: #181926;
    --searchbar-bg: #1e2030;
    --searchbar-fg: #cad3f5;
    --searchbar-shadow-color: #181926;
    --searchresults-header-fg: #cad3f5;
    --searchresults-border-color: #181926;
    --searchresults-li-bg: #24273a;
    --search-mark-bg: #f5a97f;
}

.frappe {
    /* NOT BEING USED */
    --icon-color: #c6d0f5;
    --icon-color-rgb: 198, 208, 245;
    --bg: #303446;
    --fg: #c6d0f5;
    --fg-50: #9a9ebd;
    --fg-rgb: 198, 208, 245;
    --sidebar-bg: #292c3c;
    --sidebar-fg: #c6d0f5;
    --sidebar-non-existant: #737994;
    --sidebar-active: #f2d5cf;
    --sidebar-spacer: #737994;
    --scrollbar: #737994;
    --icons: #737994;
    --icons-hover: #838ba7;
    --links: #8caaee;
    --inline-code-color: #ef9f76;
    --theme-popup-bg: #292c3c;
    --theme-popup-border: #737994;
    --theme-hover: #737994;
    --quote-bg: #292c3c;
    --quote-border: #232634;
    --table-border-color: #232634;
    --table-header-bg: #292c3c;
    --table-alternate-bg: #232634;
    --searchbar-border-color: #232634;
    --searchbar-bg: #292c3c;
    --searchbar-fg: #c6d0f5;
    --searchbar-shadow-color: #232634;
    --searchresults-header-fg: #c6d0f5;
    --searchresults-border-color: #232634;
    --searchresults-li-bg: #303446;
    --search-mark-bg: #ef9f76;
}


.latte {
    --icon-color: #cc694a;
    --icon-color-rgb: 204, 105, 74;
    --bg: #eff1f5;
    --fg: #4c4f69;
    --fg-50: #797a87;
    --fg-rgb: 76, 79, 105;
    --sidebar-bg: #e6e9ef;
    --sidebar-fg: #4c4f69;
    --sidebar-non-existant: #9ca0b0;
    --sidebar-active: #dc8a78;
    --sidebar-spacer: #9ca0b0;
    --scrollbar: #9ca0b0;
    --icons: #9ca0b0;
    --icons-hover: #8c8fa1;
    --links: #1e66f5;
    --inline-code-color: #fe640b;
    --theme-popup-bg: #e6e9ef;
    --theme-popup-border: #9ca0b0;
    --theme-hover: #9ca0b0;
    --quote-bg: #e6e9ef;
    --quote-border: #dce0e8;
    --table-border-color: #dce0e8;
    --table-header-bg: #e6e9ef;
    --table-alternate-bg: #dce0e8;
    --searchbar-border-color: #dce0e8;
    --searchbar-bg: #e6e9ef;
    --searchbar-fg: #4c4f69;
    --searchbar-shadow-color: #dce0e8;
    --searchresults-header-fg: #4c4f69;
    --searchresults-border-color: #dce0e8;
    --searchresults-li-bg: #eff1f5;
    --search-mark-bg: #fe640b;
}

.light {
    --icon-color: #6f2d13;
    --icon-color-rgb: 111, 45, 19;
    --bg: #ffffff;
    --fg: #000000;
    --fg-50: #AAAAAA;
    --fg-rgb: 0, 0, 0;
}

.rust {
    /* NOT BEING USED */
    --icon-color: #262625;
    --icon-color-rgb: 38, 38, 37;
    --fg: #262625;
    --fg-rgb: 38, 38, 37;
}

.coal {
    --icon-color: #f9dfcc;
    --icon-color-rgb: 249, 223, 204;
    --bg: #131516;
    --fg: #98a3ad;
    --fg-50: #5f686e;
    --fg-rgb: 152, 163, 173;
    --searchbar-bg: #131516;
    --searchbar-fg: #98a3ad;
    --searchbar-border-color: #404040;
    --searchbar-shadow-color: #131516;
}

.navy {
    /* NOT BEING USED */
    --icon-color: #bcbdd0;
    --icon-color-rgb: 188, 189, 208;
    --fg: #bcbdd0;
    --fg-rgb: 188, 189, 208;
}

.ayu {
    /* NOT BEING USED */
    --icon-color: #c5c5c5ff;
    --icon-color-rgb: 197, 197, 197;
    --fg: #c5c5c5ff;
    --fg-rgb: 197, 197, 197;
}
