main {
    margin-top: 40px;
}

.table-wrapper > table {
    display: block;
}

.docs-content-wrapper > h1 {
    font-size: 4.0rem;
}

.docs-content-wrapper > p {
    font-size: 2.0rem;
    margin: 12px 0;
}

.docs-card-container {
    margin: 32px -16px -16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    font-size: 1.4rem;
    flex-wrap: wrap;
}

.docs-card {
    --card-opacity: 0.8;

    flex-grow: 1;
    flex-basis: 0;
    min-width: 300px;
    max-width: 333px;
    box-shadow: none;
    margin: 16px 16px;
    border-radius: 0;
    border: 1px solid;
    border-color: rgba(var(--fg-rgb), var(--card-opacity)) !important;
    color: rgba(var(--fg-rgb), 0.65) !important;
    stroke: var(--icon-color);
    fill: var(--icon-color);
}

.docs-card:hover {
    --card-opacity: 1.0;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.05), 0 0 0.1rem rgba(0, 0, 0, 0.1);
}


.docs-card > .admonition-title {
    margin-left: -12px;
    margin-right: -12px;
    font-size: 1.6rem;
    color: rgba(var(--fg-rgb), var(--card-opacity)) !important;
    padding: 8px 12px;
}


.docs-card > .admonition-title::before {
    background-color: var(--sidebar-bg);
    display: none;
    mask-image: none;
}


.docs-card > div {
    position: relative;
    padding-top: 12px;
}

.docs-card-visit:visited, .docs-card-visit:hover, .docs-card-visit:link {
    color: inherit !important;
    text-decoration: inherit !important;
}

.docs-card-visit {
    position: relative;
    left: 0px;
    width: fit-content;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0px -8px;
}

.docs-card-visit > * {
    margin: 0px 8px;
}

.docs-card-visit > p > svg {
    padding-top: 8px !important;
}

.docs-card-visit > span {
    color: rgba(var(--icon-color-rgb), calc(var(--card-opacity) - .2));
    border-bottom: 3px solid rgba(var(--icon-color-rgb), calc(var(--card-opacity) - .2));
}

.docs-card-visit.icon-mode > span {
    color: rgba(var(--fg-rgb), calc(var(--card-opacity) - .2));
    border-bottom: none;
}

@media (max-width: 600px) {
    .docs-card-visit {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-start;
    }

    .docs-card-visit > span {
        border-bottom: none;
    }
}

.docs-card-link {
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 12px;
    margin-left: -12px;
    padding-right: 12px;
    margin-right: -12px;
    padding-top: 52px;
    margin-top: -52px;
    padding-bottom: 12px;
    margin-bottom: -12px;
}

.docs-card-link > ul {
    margin: 0px;
    padding-left: 20px;
}

.docs-card-link > ul > li {
    color: var(--fg);
}

.docs-card-link:visited, .docs-card-link:hover, .docs-card-link:link {
    color: inherit !important;
    text-decoration: inherit !important;
}

.admonition-anchor-link::before {
    content: none !important;
}
